/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
$color-primary: #f9ed69; // yellow
$color-secondary: #f0855d; //orange
$color-tertiary: #b83b5d; // pink
$color-text-dark: #333;
$color-text-white: #eee;

$width-button: 150px;

nav {
  background-color: $color-primary;
  margin: 30px;
  
  &::after {
  content: '';
  clear: both;
  display: table;
  }
}

.navigation {
  list-style: none;
  float: left;
  
  li {
    display: inline-block;
    margin-left: 30px;
    
    &:first-child {
      margin: 0;
    }
    
    a:link {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-text-dark;  
    }
  }
}

.button {
  float: right;
}

.btn-main:link,
.btn-hot:link {
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  width: $width-button;
  color: $color-text-white;
}

.btn-main {
  &:link {
    background-color: $color-secondary;
  }
  
  &:hover {
    background-color: darken($color-secondary, 15%);
  }
}

.btn-hot {
  &:link {
    background-color: $color-tertiary;
  }
  
  &:hover {
    background-color: lighten($color-tertiary, 15%);
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #f9ed69;
  margin: 30px;
}
nav::after {
  content: "";
  clear: both;
  display: table;
}

.navigation {
  list-style: none;
  float: left;
}
.navigation li {
  display: inline-block;
  margin-left: 30px;
}
.navigation li:first-child {
  margin: 0;
}
.navigation li a:link {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
}

.button {
  float: right;
}

.btn-main:link,
.btn-hot:link {
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
  color: #eee;
}

.btn-main:link {
  background-color: #f0855d;
}
.btn-main:hover {
  background-color: #ea5017;
}

.btn-hot:link {
  background-color: #b83b5d;
}
.btn-hot:hover {
  background-color: #d16f89;
}